<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    
    
    <add 
      name="ViviPlusTTEntities" 
      connectionString="metadata=res://*/Data.ViviPlusTTModel.csdl|res://*/Data.ViviPlusTTModel.ssdl|res://*/Data.ViviPlusTTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.22.148.82\ec_mr31;initial catalog=ViviPlusTT;persist security info=True;user id=appdev;password=Abdala10;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
      providerName="System.Data.EntityClient" />
    
    
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>